* text=auto

*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.tbl text eol=lf

*.xdelta binary
*.ips binary
*.wsc binary
*.sav binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.7z binary
